.initialPage {
    
    background-color: #FFFFFF;
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}
.topo {
    display: flex;
    justify-content: flex-end;
    
    margin-right: 20px;
}
.topo h3{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5D9040;  
    margin-right: 20px;
}
.topo h4 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9C9C9C;   
    margin-right: 20px;
}
.title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
}
.title img {
    Width:102px;
    Height: 96px;
}
.ranking-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.ranking-title h3 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;     
}
.ranking-title img {
    width: 55px;
    height: 55px;
}
.ranking-list {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.ranking-list h3 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}
.footer {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer h3 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}